name: hello-world
on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      envPAT:
        required: true
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4.1.1
      - name: Say Hello
        run: echo "$(cat hello_world.txt)"
      - name: Print config-path input
        run: echo ${{ inputs.config-path }}
      - name: Print envPAT secret
        run: echo ${{ secrets.envPAT }}
